##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [6]:
T = (('python'),) * 5
#T = ('python', 'python', 'python', 'python', 'python')
print(T)

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [9]:
inp = "python"

for i in range(len(inp)):
  if ( i % 2 == 0 ):
    print(inp[i])

p
t
o

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [16]:
elements = [5, 7, 4, 9, 2]

def calculate_avg( list):
    print("Average of the elements: " + str(sum(list) / len(list)))

calculate_avg(elements)

Average of the elements: 5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [19]:
year = 2000
if ( year % 4 == 0 ):
  print("LEAP YEAR")
else:
  print("NOT leap year")

LEAP YEAR

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [25]:
l = [21, 6, 12, 57, 35, 61]
l.sort()
print(l[1] + l[-2])

69

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.